<template>
  <div class="title">
    <!-- 头部 -->
    <div class="demo-input-suffix fl">
      <!-- 搜索部分 -->

      <el-form :inline="true" :model="formInline" style="text-align:left">
        <el-form-item label="商品id：">
          <el-input v-model="formInline.uid" placeholder="商品id"></el-input>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="onSubmitid" plain>查询</el-button>
        </el-form-item>
      </el-form>

      <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="商品名称">
          <el-input v-model="formInline.uname" placeholder="商品名称"></el-input>
        </el-form-item>

        
        <el-form-item label="商品类型">
          <el-input v-model="formInline.utype" placeholder="商品类型"></el-input>
        </el-form-item>


        <el-form-item>
          <el-button type="primary" @click="onSubmit" plain>查询</el-button>
        </el-form-item>
      </el-form>
    </div>
    <!-- 显示区域 -->
    <div class="container_table">
      <el-table
        :data="
          prolist.slice((currentPage - 1) * pagesize, currentPage * pagesize)
        "
        stripe
        style="width: 100%"
        :default-sort="{ prop: 'date', order: 'descending' }"
      >
        <el-table-column prop="id" label="id" sortable width="60" >
        </el-table-column>
        <el-table-column prop="productId" label="商品id" sortable width="190">
        </el-table-column>
        <el-table-column prop="productName" label="商品名称" width="180">
        </el-table-column>
        <el-table-column prop="productNum" sortable label="数量"> </el-table-column>
        <el-table-column prop="productPrice" sortable label="价格">
        </el-table-column>
        <el-table-column prop="productType" label="类型"> </el-table-column>
        <el-table-column prop="storeid" sortable label="商家id">
        </el-table-column>
        <el-table-column prop="pageviews" sortable label="浏览量">
        </el-table-column>
        <el-table-column label="操作" width="270px">
          <template slot-scope="scope">
            <!--<el-button type="warning" icon="el-icon-star-off" circle></el-button>-->
            <el-button
              type="primary"
              @click="switchChange(scope.row)"
              plain
            >编辑</el-button>
            <el-button
              type="danger"
            disabled >删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        class="fy"
        layout="prev, pager, next"
        @current-change="current_change"
        :total="total"
        background
      >
      </el-pagination>
    </div>

  <el-dialog title="" :visible.sync="dialogFormVisible">
  <el-form :model="form">

    <el-form-item label="id：" :label-width="formLabelWidth" style="text-align:left">
      {{form.id}}
    </el-form-item>
    
    <el-form-item label="商品id：" :label-width="formLabelWidth" style="text-align:left">
      {{form.productId}}
    </el-form-item>
    <el-form-item label="店铺id：" :label-width="formLabelWidth" style="text-align:left">
      {{form.storeid}}
    </el-form-item>

        <el-form-item label="商品类型：" :label-width="formLabelWidth">
      <el-input v-model="form.productType" autocomplete="off"></el-input>
    </el-form-item>

    <el-form-item label="商品名称：" :label-width="formLabelWidth">
      <el-input v-model="form.productName" autocomplete="off"></el-input>
    </el-form-item>

        <el-form-item label="价格：" :label-width="formLabelWidth">
      <el-input v-model="form.productPrice" autocomplete="off"></el-input>
    </el-form-item>

           <el-form-item label="数量：" :label-width="formLabelWidth">
      <el-input v-model="form.productNum" autocomplete="off"></el-input>
    </el-form-item>
    
        <el-form-item label="浏览量：" :label-width="formLabelWidth">
      <el-input v-model="form.pageviews" autocomplete="off"></el-input>
    </el-form-item>

           <el-form-item label="备注：" :label-width="formLabelWidth">
      <el-input v-model="form.productExplain" autocomplete="off"></el-input>
    </el-form-item>
    <!-- <el-form-item label="活动区域" :label-width="formLabelWidth">
      <el-select v-model="form.region" placeholder="请选择活动区域">
        <el-option label="区域一" value="shanghai"></el-option>
        <el-option label="区域二" value="beijing"></el-option>
      </el-select>
    </el-form-item> -->
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="dialogFormVisible = false">取 消</el-button>
    <el-button type="primary" @click="toupdate">确 定</el-button>
  </div>
</el-dialog>


  </div>
</template>
<script>
export default {
  name: "list11",
  data() {
    return {
      total: 1000, //默认数据总数
      pagesize: 9, //每页的数据条数
      currentPage: 1, //默认开始页面
      istag: true,
      formInline: {
        uid: "",
        uname: "",
        utype: ""
      },
        dialogTableVisible: false,
        dialogFormVisible: false,
          form: {
          id: '',
          productId: '',
          storeid:'',
          productType: '',
          productName: '',
          productPrice: '',
          productNum: '',
          pageviews: '',
          productExplain: ''
        },
      prolist: [],
         formLabelWidth: '120px',
    };
  },
  methods: {
   async onSubmitid(){
        await this.$http.get('/pcupdateuserlist/selectproid',{params:{
        uid:this.formInline.uid
        }})
            .then(res => { //捕获确认事件，执行
                      console.log(res.data)
                      if(res.data.meta!=0){
                        this.prolist=res.data.data
                      }else{
                        alert("没有查到相关的产品")
                      }
                    
                     // that.openVn()
                      //that.getprolist()
                        })
                    .catch(res=>{
                   
                    });
    },
   async onSubmit() {
        await this.$http.get('/pcupdateuserlist/selectpro',{params:{
        uname:this.formInline.uname,
        utype:this.formInline.utype,
        }})
            .then(res => { //捕获确认事件，执行
                      console.log(res.data)
                      if(res.data.meta!=0){
                        this.prolist=res.data.data
                      }else{
                        alert("没有查到相关的产品")
                      }
                     // that.openVn()
                      //that.getprolist()
                        })
                    .catch(res=>{
                    });
    },
    tableRowClassName({ row, rowIndex }) {
      if (rowIndex === 0) {
        return "th";
      }
      return "";
    },
    switchChange(e) {
      console.log(e);
      this.dialogFormVisible = true
              this.form.id=e.id
              this.form.productId=e.productId
              this.form.storeid=e.storeid
              this.form.productType=e.productType
              this.form.productName=e.productName
              this.form.productPrice=e.productPrice
              this.form.productNum=e.productNum
              this.form.pageviews=e.pageviews
              this.form.productExplain=e.productExplain
    },
   async toupdate(){
      console.log("你点击了确定")
      let that=this
      this.dialogFormVisible = false
     await this.$http.get('/pcupdateuserlist/pcupdatepro',{params:{
        id:this.form.id,
        productId:this.form.productId,
        storeid:this.form.storeid,
        productType:this.form.productType,
        productName:this.form.productName,
        productPrice:this.form.productPrice,
        productNum:this.form.productNum,
        pageviews: this.form.pageviews,
        productExplain: this.form.productExplain
        }})
            .then(res => { //捕获确认事件，执行
                      console.log(res.data)
                      that.openVn()
                      that.getprolist()
                        })
                    .catch(res=>{
                   
                    });

    },
    current_change: function (currentPage) {
      this.currentPage = currentPage;
    },
          openVn() {
        const h = this.$createElement;
        this.$message({
          message: h('p', null, [
            // h('span', null, '内容可以是 '),
            h('i', { style: 'color: teal' }, '修改成功')
          ])
        });
      },
    async getprolist() {
      await this.$http
        .get("/pcmerchant/getprolist")
        .then((res) => {
          //捕获确认事件，执行
          console.log(res.data.data);
          this.prolist = res.data.data;
        })
        .catch((res) => {});
    },
  },
  created: function () {
    this.total = this.prolist.length;
    this.getprolist();
  },
};
</script>
<style>
.fl {
  float: left;
  margin-right: 20px;
}
.fy {
  text-align: center;
  margin-top: 30px;
}
.title {
  /* height: 100%; */
}
.searchtext {
  font-size: 20px;
  margin-top: 4px;
}
</style>