<template>
<el-container style="height: 600px; border: 1px solid #eee">
  <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
    <div v-for="(item,i) in userlist">
    <el-menu>
          <el-menu-item index="1-1" @click="binname(item.useropenid)">{{item.username}}</el-menu-item>
    </el-menu>
</div>
  </el-aside>
  
  <el-container>
    <el-header style="text-align: center; font-size: 12px">

      <span>{{nowname}}</span>
    </el-header>
    
    <el-main class="cdd">
      <div class="cmain">
        <!--显示记录部分  -->
        <div id="cin" class="cin">
       
          <div v-for="(item , i) in chatlist" class="tmain">

           <div v-if="item.contype=='0'" class="tadmin">
               <img src="../../assets/admin.jpg" class="adminimg">
            <el-col :span="18" :offset="1">
              <div class="grid-content bg-purple">
                <div class="borit">
          

                        {{item.content}}
       
                    
                </div>
           
            </div>
            </el-col>
          
           </div>
          <div v-if="item.contype=='1'" class="uadmin">
            <el-col :span="18" :offset="4"><div class="grid-content bg-purple">
                <div class="borit">
                     {{item.content}}
                </div>
            </div>
            </el-col>
            <img src="../../assets/user.jpg" class="userimg">
           </div>
        
          </div>
        </div>
        <!-- 输入部分 -->
        <div class="pu">
          <el-input v-model="input" placeholder="请输入内容" class="tinput"></el-input>
          <button @click="bnt" class="tobtn">发送</button>

        </div>
      </div>

    </el-main>
  </el-container>
</el-container>
</template>
<style>
.cdd{
 
}
.tinput{
  float: left;
  height: 100%;
  width: 85%;
  }
.tobtn{
  float: right;
  margin-right: 20px;
  width: 12%;
  height: 83%;
}
.cmain{
   /* background: ghostwhite; */
    /* padding: 0.5rem; */
    width: 98%;
    height: 96%;
}

  .cin{
    background: ghostwhite; 
    height:90%;
    overflow-y:auto; 
  }
  .tmain{
    width: 100%;
  }
  .tuser{
    text-align:right
  }
  .tadmin{
    margin-top: 20px;
    height: 50px;
    text-align: left;
  }
  .adminimg{
    float: left;
    width: 50px;
    height: 50px;
    padding: 10px;
  }
 .uadmin{
   margin-top: 20px;
   text-align: right;
   height: 50px;
 }
  .userimg{
    float: right;
    width: 50px;
    height: 50px;
  }
  .borit{
    display:inline;
    border: 1px solid darkgray;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
  }
  .pu{
    /* background: 	LightCyan; */
    height: 10%;
  }
  .el-header {
    background-color: #B3C0D1;
    color: #333;
    /* line-height: 60px; */
  }
  
  .el-aside {
    color: #333;
  }
/* 聊天框开始 */
   .el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
     /* background: #d3dce6;  */
     margin-top: 20px;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 50px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
  /* 聊天框结束 */
</style>

<script>
  export default {
    data() {
      return {
        nowname:"",
        nowopenid:"",
        input:'',
        chatlist:[],
        userlist:[]
      }
    },
      methods:{
        //获取用户
       async  getchat(){
            await this.$http.get('/pcmerchant/getuserchatlist')
            .then(res => { //捕获确认事件，执行
                            console.log(res.data.data)
                            this.userlist = res.data.data
                        })
                    .catch(res=>{
                   
                    });
               },
      async  bnt(){
          console.log(this.nowopenid)
          let useropenid=this.nowopenid
          console.log(this.input)
          let username=this.nowname
          let content=this.input
          this.tobuttom()
          if(this.nowopenid==''){
             alert("请先选择用户");
          } else if(this.input==''){
            alert("不能发送空消息");
          }else{
            console.log("发送")
            await this.$http.get('/pcmerchant/setuserchatlist',{params:{useropenid:useropenid,username:username,content:content}})
            .then(res => { //捕获确认事件，执行
                            console.log(res.data.data)
                            //this.userlist = res.data.data
                            this.binname(useropenid)
                            this.tobuttom()
                            this.input=""
                        })
                    .catch(res=>{
                    });
          }

        },
        tobuttom(){
             //console.log("ddd")
              var div = document.getElementById('cin');
             div.scrollTop = div.scrollHeight;
             console.log(div.scrollTop )
         },
         //获取聊天记录
        async  binname(e){
             let that=this
              that.tobuttom()
               // console.log(e)
                console.log(this.userlist.length)
                for(let i=0;i<this.userlist.length;i++){
                  if(e==this.userlist[i].useropenid){
                   // console.log(this.userlist[i].username)
                    this.nowname=this.userlist[i].username
                    this.nowopenid=this.userlist[i].useropenid
                  }
                }
                let useropenid=e
                console.log(useropenid)
                await this.$http.get('/pcmerchant/getadminchatlista',{params:{useropenid:useropenid}})
                            .then(res => { //捕获确认事件，执行
                                            console.log(res.data.data)
                                            this.chatlist = res.data.data
                                          
                                        })
                                    .catch(res=>{
                                  
                                    });

                // for(let i=0;i<this.tablelist.length;i++){ 
                //     if(this.tablelist[i].id==e){
                //         console.log(this.tablelist[i].name)
                //         this.nowname=this.tablelist[i].name
                //     }
                // }
            }
      },
      created(){
         this.getchat()
      },
      mounted(){
        this.tobuttom()
      }

  };
</script>