.myaccount{
    position: relative;
    margin-top: 20rpx;
    // border-top:1rpx solid #ccc;
    .user_name{
      display: flex;
      border-bottom: 1rpx solid #ccc;
      width: 100%;
      height: 60rpx;;
      .v1{
      position: absolute; /*要约束所在位置的子元素的位置要设置成绝对*/
      font-size: 35rpx;
      left: 20rpx;
      }
      .v2{
      position: absolute; /*要约束所在位置的子元素的位置要设置成绝对*/
      font-size: 35rpx;
      right: 80rpx;
      }
    }
    .user_btn{
        display: flex; 
        border-bottom: 1rpx solid #ccc;
        .v1{
          flex: 8;
          font-size: 35rpx;
          margin-top: 20rpx;
          margin-left: 20rpx;
          margin-bottom: 20rpx;
          width: 100%;
        }
        .phone{
          flex: 3;
          margin-top: 25rpx;
         
        }
        .hint{
          flex: 3;
      
          font-size: 30rpx;
          margin-top: 25rpx;
          margin-left: 100rpx;
        }
        .v3{
          flex: 1;
          image{
              margin-top: 18rpx;
              width: 50rpx;
              height: 50rpx;
          }
        }
    
    }
    .user_number_btn{
        background-color: transparent; 
        border: 1px solid #84c1ff;
        color: #84c1ff;
        font-size: 30rpx;
        margin-top: 80rpx;
        width: 60%;
    }

}
