page {
    height: 100%;
}
.detail_swiper{
    border-top: 1rpx solid #e0e0e0;
    swiper{
      height: 65vw;
      text-align: center;
      image{
        width: 60%;
      }
    }
  }
  .goods_price{
    padding: 15rpx;
    font-size: 32rpx;
    font-weight: 600;
    color: red;
  }
  .goods_name_row{
    border-top: 5rpx solid #dedede;
    border-bottom: 5rpx solid #dedede;
    padding: 10rpx 0;
    display: flex;
    .goods_name{
      flex: 5;
      color: #000;
      font-size: 30rpx;
      padding: 0 10rpx;
  
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp:2;
    }
    .goods_collect{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-left: 1rpx solid #000;
      
      .icon-shoucang1{
        color: orangered;
      }
     
    }
  }
  .imagetext{
    color: #00bfff;
    font-size: 35rpx;
    margin-top: 20rpx;
    margin-left: 10rpx;
    margin-bottom:10rpx;
}
.dproduct_describes{
  width: 95%;
  font-size:30rpx ;
  color: #adadad;
  margin-left: 20rpx;
  margin-top: 10rpx;
  margin-bottom: 200rpx;
}
.cart_num_tool {
  display: flex;
  font-size: 35rpx;
  margin-top: 20rpx;
  margin-left: 400rpx;
  .num_edit {
    width: 55rpx;
    height: 55rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1rpx solid #ccc;
  }

  .goods_num {
    width: 55rpx;
    height: 55rpx;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.top-selected{
  border: 1rpx solid rebeccapurple;
  border-radius: 15rpx;
  width: 160rpx;
  text-align: center;
  height: 50rpx;
  font-size: 37rpx;
  margin-top: 20rpx;
  margin-left: 50rpx;
}
.add{
  padding-left: 20rpx;
  width: 90%;
  height: 130rpx;
  position: relative;
  line-height: 60rpx;
  margin-top: 10rpx;
  margin-left: 30rpx;
  margin-bottom: 10rpx;
  border-radius: 20rpx;
  border: 1rpx solid #cae1ff;
  .addname{
    font-size: 35rpx;
    margin-top: 10rpx;
    margin-left: 10rpx;
  }
  .address{
    font-size: 35rpx;
    margin-left: 10rpx;
  }
}
/* 下拉内容 */
.select_box {
  background-color: #fff;
  width: 90%;
  margin-left: 30rpx;
 
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: left;
  animation: myfirst 0.5s;
  font-size: 30rpx;
  border-bottom: 1px solid #ccc;
}
.select_one {
  padding-left: 20rpx;
  width: 100%;
  height: 180rpx;
  position: relative;
  line-height: 60rpx;
  margin-top: 20rpx;
  margin-bottom: 10rpx;
  border-radius: 20rpx;
  border: 1rpx solid #cae1ff;
}
/* 下拉过度效果 */
@keyframes myfirst {
  from {
    height: 0rpx;
  }
 
  to {
    height: 210rpx;
  }
}

.btm_tool{
    border-top: 1rpx solid #ccc;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90rpx;
    background-color: #fff;
    display: flex;
    .tool_item{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 24rpx;
      position: relative;
      button{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
    .btn_cart{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #ffa500;
      color: #fff;
      font-size: 30rpx;
      font-weight: 600;
    }
    .btn_buy{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #eb4450;
      color: #fff;
      font-size: 30rpx;
      font-weight: 600;
    }
  }