.add{
  .addname{
    margin-top: 30rpx;
    margin-left: 30rpx;
    margin-left: 30rpx;
  }
  .address{
    font-size: 35rpx;
    margin-top: 20rpx;
    margin-left: 30rpx;
  }
}

 
 
 /* 下拉框 */
 .top-selected{
    width: 20%;
    height: 60rpx;
    margin-top: 30rpx;
    margin-left: 30rpx;
    border: 1px solid #ccc;
    border-radius: 20rpx;
    font-size: 40rpx;
    text{
      font-size: 35rpx;
    }
  }
  /* 下拉内容 */
  .select_box {
    background-color: #fff;
    width: 90%;
    margin-left: 30rpx;
   
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: left;
    animation: myfirst 0.5s;
    font-size: 30rpx;
    border-bottom: 1px solid #ccc;
  }
  .select_one {
    padding-left: 20rpx;
    width: 100%;
    height: 180rpx;
    position: relative;
    line-height: 60rpx;
    margin-top: 20rpx;
    margin-bottom: 10rpx;
    border-radius: 20rpx;
    border: 1rpx solid #cae1ff;
  }
  /* 下拉过度效果 */
  @keyframes myfirst {
    from {
      height: 0rpx;
    }
   
    to {
      height: 210rpx;
    }
  }
  .prolist{
    display: flex;
    height: 90rpx;
    margin-top: 20rpx;
    margin-left: 30rpx;
    margin-right: 30rpx;
    border-radius: 20rpx;
    border: 1rpx solid #Dcb5ff;
    image{
    flex: 1;
    width: 80rpx;
    height: 80rpx;
    }
    .productName{
      flex: 4;
    }
    .productPrice{
      flex: 2;
    }
    .num{
      flex: 1;
    }

  }
  .allprice{
    margin-top: 30rpx;
   margin-right: 20rpx;
   text-align:right
  }
  .pay{
    width: 150rpx;
    height: 55rpx;
    background-color: #acd6ff;
    font-size: 35rpx;
    text-align: center;
    border-radius: 20rpx;
    margin-left: 340rpx;
    border: 1rpx solid #b9b9ff;
  }