/* pages/mycustomer/mycustomer.wxss */
page{
    height: 100%;
    
}
.title{
  background: azure;
  font-size: 45rpx;
  text-align: center;
  height: 6%;
  border-bottom:2rpx solid rgb(41, 71, 204);
  .tiname{
    margin-top: 15rpx;
  }
}
.main{
  
    height: 84%;
    .left_menu{
        height: 100%;
        width: 100%;
       
        .storeinfo{
          margin-top: 10rpx;
          margin-bottom: 30rpx;
          display: flex;
          font-size: 45rpx;
          margin-left: 30rpx;
          
            .customerimg{
              width: 80rpx;
              height: 80rpx;
            }
            .ma{
              
              margin-left: 20rpx;
              border: 1rpx solid royalblue;
              border-radius: 15rpx;
              .con{
                margin-left: 20rpx;
                margin-right: 20rpx;
                margin-top: 20rpx;
             
                margin-top: 20rpx;
                margin-bottom: 20rpx;
               
                text-align: center;
              }
            } 
        }
        .userinfo{
          
          font-size: 50rpx;
          margin-right: 30rpx;
          margin-top: 10rpx;
          margin-bottom: 30rpx;
          display: flex;
          justify-content: flex-end;margin: 0 auto;
          .mk{
            display: flex;
            margin-top: 10rpx;
            margin-bottom: 30rpx;
            margin-right: 20rpx;
        
            .conimg{
              width: 80rpx;
              height: 80rpx;
            }
            .mb{
              width: 90%;
              margin-left: 80rpx;
              margin-right: 20rpx;
              border: 1rpx solid royalblue;
              border-radius: 15rpx;
              .conb{
                margin-left: 50rpx;
                margin-right: 20rpx;
                margin-top: 20rpx;
                margin-bottom: 20rpx;
                
              }
            }
          }
            

          }
        
    }

}


.btm_tool{
    border-top: 1rpx solid #ccc;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8%;
    background-color: #fff;
    display: flex;
    .fromx{
      display: inline;
      // width: 100%;
      // height: 100%;
      .vvv{
        display:flex;
        height: 100%;
        .tool_item{
          flex: 5;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 45rpx;
          position: relative;

        }
        .btn_buy{
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: #eb4450;
          color: #fff;
          font-size: 30rpx;
          font-weight: 600;
        }
      }
    }

    
  }