.newtext{
    font-size: 40rpx;
    margin-top: 20rpx;
    height: 80rpx;
    text-align: center;
    margin-bottom: 10rpx;
    border-bottom: 1rpx solid mediumturquoise;
}
.pro{
    width: 750rpx;
    background: #fff;
    padding: 50rpx 50rpx 0;
    border-radius: 20rpx;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    .goods{
      width:180rpx;
      font-size: 20rpx;
      text-align: center;
      margin-bottom: 50rpx;
      margin-right: 50rpx;
      .img{
        height: 180rpx;
        width: 180rpx;
      }

      .price{
        color: red;
      }
    }
  
    .goods:nth-child(3n) {
      margin-right: 0;
    }
  }