page {
  height: 100%;
}
.title {
  text-align: center;
  margin-top: 30rpx;
  margin-bottom: 30rpx;
  font-size: 50rpx;
}
.domain_container {
  height: 100%;
  display: flex;
}
.domain_container .left_menu {
  flex: 3;
  border-right: 2rpx solid #ccccff;
}
.domain_container .left_menu .manage {
  height: 80rpx;
  margin-top: 30rpx;
  text-align: center;
  font-size: 28rpx;
  border-bottom: 1rpx solid #ffcccc;
}
.domain_container .right_content {
  flex: 9;
  background-color: #ecf5ff;
}
.domain_container .right_content .prolist .pend {
  display: flex;
  margin-top: 30rpx;
  border: 1rpx solid #ffcccc;
  border-radius: 15rpx;
  margin-left: 18rpx;
  width: 90%;
}
.domain_container .right_content .prolist .pend .caslistimg {
  flex: 2;
  width: 80rpx;
  height: 80rpx;
  margin-top: 30rpx;
  margin-left: 8rpx;
}
.domain_container .right_content .prolist .pend .sc {
  flex: 5;
}
.domain_container .right_content .prolist .pend .sc .proname {
  margin-top: 20rpx;
  height: 111rpx;
}
.domain_container .right_content .prolist .pend .sc .topay {
  margin-left: 150rpx;
  border-radius: 15rpx;
  border: 1rpx solid seagreen;
  width: 38%;
}
.domain_container .right_content .prolist .pend .ord {
  flex: 3;
  display: block;
}
.domain_container .right_content .prolist .pend .ord .num {
  margin-top: 15rpx;
}
.domain_container .right_content .prolist .pend .ord .delete {
  margin-left: 30rpx;
  margin-top: 15rpx;
  margin-bottom: 15rpx;
  width: 60%;
  color: red;
  text-align: center;
  border-radius: 15rpx;
  border: 1rpx solid seagreen;
}
.domain_container .right_content .prolist .shipped {
  display: flex;
  margin-top: 30rpx;
  border: 1rpx solid #ffcccc;
  border-radius: 15rpx;
  margin-left: 18rpx;
  width: 90%;
}
.domain_container .right_content .prolist .shipped .caslistimg {
  flex: 2;
  width: 80rpx;
  height: 80rpx;
  margin-top: 30rpx;
  margin-left: 8rpx;
}
.domain_container .right_content .prolist .shipped .sc {
  flex: 5;
}
.domain_container .right_content .prolist .shipped .sc .proname {
  margin-top: 20rpx;
  height: 111rpx;
}
.domain_container .right_content .prolist .shipped .sc .topay {
  color: coral;
  margin-left: 150rpx;
  width: 38%;
}
.domain_container .right_content .prolist .shipped .ord {
  flex: 3;
  display: block;
}
.domain_container .right_content .prolist .shipped .ord .num {
  margin-top: 15rpx;
}
.domain_container .right_content .prolist .shipped .ord .delete {
  margin-left: 30rpx;
  margin-top: 15rpx;
  margin-bottom: 15rpx;
  width: 60%;
  color: red;
  text-align: center;
  border-radius: 15rpx;
  border: 1rpx solid seagreen;
}
.domain_container .right_content .prolist .shipped .ord .topay {
  color: coral;
  margin-left: 10rpx;
}
.domain_container .right_content .prolist .done {
  display: flex;
  margin-top: 30rpx;
  border: 1rpx solid #ffcccc;
  border-radius: 15rpx;
  margin-left: 18rpx;
  width: 90%;
}
.domain_container .right_content .prolist .done .caslistimg {
  flex: 2;
  width: 80rpx;
  height: 80rpx;
  margin-top: 30rpx;
  margin-left: 8rpx;
}
.domain_container .right_content .prolist .done .sc {
  flex: 5;
}
.domain_container .right_content .prolist .done .sc .proname {
  margin-top: 20rpx;
  height: 111rpx;
}
.domain_container .right_content .prolist .done .sc .topay {
  color: coral;
  margin-left: 150rpx;
  width: 38%;
}
.domain_container .right_content .prolist .done .ord {
  flex: 3;
  display: block;
}
.domain_container .right_content .prolist .done .ord .num {
  margin-top: 15rpx;
}
.domain_container .right_content .prolist .done .ord .delete {
  margin-left: 30rpx;
  margin-top: 15rpx;
  margin-bottom: 15rpx;
  width: 60%;
  color: red;
  text-align: center;
  border-radius: 15rpx;
  border: 1rpx solid seagreen;
}
.domain_container .right_content .prolist .done .ord .ok {
  margin-left: 10rpx;
  margin-top: 15rpx;
  margin-bottom: 15rpx;
  width: 80%;
  color: red;
  text-align: center;
  border-radius: 15rpx;
  border: 1rpx solid seagreen;
}
.domain_container .right_content .prolist .done .ord .topay {
  color: coral;
  margin-left: 10rpx;
}
.domain_container .right_content .prolist .finish {
  display: flex;
  margin-top: 30rpx;
  border: 1rpx solid #ffcccc;
  border-radius: 15rpx;
  margin-left: 18rpx;
  width: 90%;
}
.domain_container .right_content .prolist .finish .caslistimg {
  flex: 2;
  width: 80rpx;
  height: 80rpx;
  margin-top: 30rpx;
  margin-left: 8rpx;
}
.domain_container .right_content .prolist .finish .sc {
  flex: 5;
}
.domain_container .right_content .prolist .finish .sc .proname {
  margin-top: 20rpx;
  height: 111rpx;
}
.domain_container .right_content .prolist .finish .sc .topay {
  color: coral;
  margin-left: 150rpx;
  width: 38%;
}
.domain_container .right_content .prolist .finish .ord {
  flex: 3;
  display: block;
}
.domain_container .right_content .prolist .finish .ord .num {
  margin-top: 15rpx;
}
.domain_container .right_content .prolist .finish .ord .delete {
  margin-left: 30rpx;
  margin-top: 15rpx;
  margin-bottom: 15rpx;
  width: 60%;
  color: red;
  text-align: center;
  border-radius: 15rpx;
  border: 1rpx solid seagreen;
}
