page {
    height: 100%;
}
.title{
 text-align: center;
 margin-top: 30rpx;
 margin-bottom: 30rpx;
 font-size: 50rpx;   
}
.domain_container{
    height: 100%;
    display: flex;

    .left_menu{
        flex: 3;
        //background-color: aqua;
        border-right:2rpx solid #ccccff;
        //border-bottom: 1rpx solid #ffcccc;

        .manage{
            height: 80rpx;
            margin-top: 30rpx;
            text-align: center;
            font-size: 28rpx;
            border-bottom: 1rpx solid #ffcccc;
        }
    }
    .right_content{
        flex: 9;
        background-color:#ecf5ff;
        .prolist{
            .pend{
                display: flex;
                margin-top: 30rpx;
                border: 1rpx solid #ffcccc;
                border-radius: 15rpx;
                margin-left: 18rpx;
                width: 90%;
                .caslistimg{
                    flex: 2;
                    width: 80rpx;
                    height: 80rpx;
                    margin-top: 30rpx;
                    margin-left: 8rpx;
                }
                .sc{
                    flex: 5;
                    .proname{
                        margin-top: 20rpx;
                        height: 111rpx;
                    }
                    .topay{
                    
                        margin-left: 150rpx;
                        border-radius: 15rpx;
                        border:1rpx solid seagreen;
                        width: 38%;
                    }
                }

                .ord{
                    flex: 3;
                    display: block;
                    .num{
                       margin-top: 15rpx;
                    }
                    .price{
                       
                    }
                    .delete{
                    margin-left: 30rpx;
                    margin-top: 15rpx;
                    margin-bottom: 15rpx;
                    width:60%;
                    color: red;
                    text-align: center;
                    border-radius: 15rpx;
                    border:1rpx solid seagreen;
                    }

                }


            }
            .shipped{
                display: flex;
                margin-top: 30rpx;
                border: 1rpx solid #ffcccc;
                border-radius: 15rpx;
                margin-left: 18rpx;
                width: 90%;
                .caslistimg{
                    flex: 2;
                    width: 80rpx;
                    height: 80rpx;
                    margin-top: 30rpx;
                    margin-left: 8rpx;
                }
                .sc{
                    flex: 5;
                    .proname{
                        margin-top: 20rpx;
                        height: 111rpx;
                    }
                    .topay{
                        color: coral;
                        margin-left: 150rpx;
                        width: 38%;
                    }
                }

                .ord{
                    flex: 3;
                    display: block;
                    .num{
                       margin-top: 15rpx;
                    }
                    .price{
                       
                    }
                    .delete{
                    margin-left: 30rpx;
                    margin-top: 15rpx;
                    margin-bottom: 15rpx;
                    width:60%;
                    color: red;
                    text-align: center;
                    border-radius: 15rpx;
                    border:1rpx solid seagreen;
                    }
                    .topay{
                        color: coral;
                        margin-left: 10rpx;
                        
                    }
                }
            }
            .done{
                display: flex;
                margin-top: 30rpx;
                border: 1rpx solid #ffcccc;
                border-radius: 15rpx;
                margin-left: 18rpx;
                width: 90%;
                .caslistimg{
                    flex: 2;
                    width: 80rpx;
                    height: 80rpx;
                    margin-top: 30rpx;
                    margin-left: 8rpx;
                }
                .sc{
                    flex: 5;
                    .proname{
                        margin-top: 20rpx;
                        height: 111rpx;
                    }
                    .topay{
                        color: coral;
                        margin-left: 150rpx;
                        width: 38%;
                    }
                }

                .ord{
                    flex: 3;
                    display: block;
                    .num{
                       margin-top: 15rpx;
                    }
                    .price{
                       
                    }
                    .delete{
                    margin-left: 30rpx;
                    margin-top: 15rpx;
                    margin-bottom: 15rpx;
                    width:60%;
                    color: red;
                    text-align: center;
                    border-radius: 15rpx;
                    border:1rpx solid seagreen;
                    }
                    .ok{
                        margin-left: 10rpx;
                        margin-top: 15rpx;
                        margin-bottom: 15rpx;
                        width:80%;
                        color: red;
                        text-align: center;
                        border-radius: 15rpx;
                        border:1rpx solid seagreen;
                    }
                    .topay{
                        color: coral;
                        margin-left: 10rpx;
                       
                    }
                }
            }
            .finish{
                display: flex;
                margin-top: 30rpx;
                border: 1rpx solid #ffcccc;
                border-radius: 15rpx;
                margin-left: 18rpx;
                width: 90%;
                .caslistimg{
                    flex: 2;
                    width: 80rpx;
                    height: 80rpx;
                    margin-top: 30rpx;
                    margin-left: 8rpx;
                }
                .sc{
                    flex: 5;
                    .proname{
                        margin-top: 20rpx;
                        height: 111rpx;
                    }
                    .topay{
                        color: coral;
                        margin-left: 150rpx;
                        width: 38%;
                    }
                }

                .ord{
                    flex: 3;
                    display: block;
                    .num{
                       margin-top: 15rpx;
                    }
                    .price{
                       
                    }
                    .delete{
                    margin-left: 30rpx;
                    margin-top: 15rpx;
                    margin-bottom: 15rpx;
                    width:60%;
                    color: red;
                    text-align: center;
                    border-radius: 15rpx;
                    border:1rpx solid seagreen;
                    }
                }   
            }
            
        }


    }
}