
<view  class="tito">
  <view class="ti_v1">当前地址：</view>
  <view class="ti_v2">{{address}}</view>
</view>
<button bindtap="mapview" class="btn_v1">打开地图选择地址</button>
<view wx:if="{{address!=''}}">
  <button bindtap="mapopen" class="btn_v2">查看位置</button>
</view>
<button bindtap="setaddress" class="btn_v3">地址正确确认上传</button>
