/* pages/address/address.wxss */
.tito{
    .ti_v1{
      font-size: 35rpx;
      margin-top: 20rpx;
      margin-left: 30rpx;  
    }
    .ti_v2{
        font-size: 30rpx;
        margin-top: 20rpx;
        margin-left: 100rpx;  
    }
}
.btn_v1{
margin-top: 30rpx;
}
.btn_v2{
    margin-top: 30rpx;
}
.btn_v3{
    margin-top: 30rpx;
}