/* pages/mycollect/mycollect.wxss */
.tit{
  margin-top: 15rpx;
  margin-left: 15rpx;
  font-size: 35rpx;
  margin-bottom: 15rpx;
}
.cart_content {
    .cart_title {
      padding: 20rpx;
      font-size: 36rpx;
      color: var(--themeColor);
      border-top: 1rpx solid currentColor;
      border-bottom: 1rpx solid currentColor;
    }
  
    .cart_main {
      .cart_item {
        display: flex;
        padding: 10rpx;
        border-bottom: 1rpx solid #ccc;
  
        .cart_chk_wrap {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          checkbox-group {
            checkbox {
  
            }
          }
        }
  
        .cart_img_wrap {
          flex: 2;
          display: flex;
          justify-content: center;
          align-items: center;
          image {
            width: 80%;
          }
        }
  
        .cart_info_wrap {
          flex: 4;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .goods_name {
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp:2;
            color: #666;
          }
  
          .goods_price_wrap {
            display: flex;
            justify-content: space-between;
            .goods_price {
              color: var(--themeColor);
              font-size: 34rpx;
            }
  
            .cart_num_tool {
              display: flex;
              .num_edit {
                width: 55rpx;
                height: 55rpx;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1rpx solid #ccc;
              }
  
              .goods_num {
                width: 55rpx;
                height: 55rpx;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
.footer_tool {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90rpx;
    background-color: #fff;
    display: flex;
    border-top: 1rpx solid #ccc;
    .all_chk_wrap {
      flex: 2;
      display: flex;
      margin-left: 50rpx;
      align-items: center;
    }

    .order_pay_wrap {
      flex: 1;
      background-color: var(--themeColor);
      color: #fff;
      font-size: 32rpx;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }