.index_swiper{
    swiper{
      width: 750rpx;
      height: 340rpx;
      image{
        width: 100%;
        height: 350rpx;
      }
    }
  }
  
.index_cate{
  display: flex;
  navigator{
    padding: 20rpx;
    flex: 1;
    image{
      width: 80%;
    }
    .type_name{
      margin-left: 35rpx;
    }

  }
}
.pro{
  width: 750rpx;
  background: #fff;
  padding: 50rpx 50rpx 0;
  border-radius: 20rpx;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  .goods{
    width:180rpx;
    font-size: 20rpx;
    text-align: center;
    margin-bottom: 50rpx;
    margin-right: 50rpx;
    .img{
      height: 180rpx;
      width: 180rpx;
    }
    .price{
      color: red;
    }
  }

  .goods:nth-child(3n) {
    margin-right: 0;
  }
}