/* pages/historypro/historypro.wxss */
.historytext{
    font-size: 45rpx;
    text-align: center;
}
.hisfor{
    display: flex;
    width: 92%;
    height: 160rpx;
    margin-left: 38rpx;
    margin-top: 20rpx;
    border-radius: 15rpx;
    border: 1rpx solid cornflowerblue;
    .hisimg{
        flex:1;
        border-radius: 15rpx;
        width: 150rpx;
        height: 150rpx;
    }
    .hisma{
        flex:4;
        display: flex;
        .hisname{
            flex: 6;
            margin-top: 60rpx;
        }
        .hispri{
            flex: 4;
            margin-left: 8rpx;
            margin-top: 60rpx; 
        }
        .del{
            margin-left: 8rpx;
            margin-top: 60rpx;
            font-size: 35rpx;
            text-align: center;
            margin-right: 15rpx;
            margin-bottom: 50rpx;
            border: 1rpx solid cornflowerblue;
            flex: 2; 
        }
    }

}