/* pages/addphone/addphone.wxss */
.nowphone{
    text-align: center;
    font-size: 40rpx;
}
.relieve{
    border: 1rpx solid royalblue;
    text-align: center;
    font-size: 40rpx;
    margin-top: 30rpx;
    margin-left: 280rpx;
    margin-right: 280rpx;
    border-radius: 10rpx;
}
.mall{
    font-size: 50rpx;
    text-align: center;
    margin-top: 50rpx;
    margin-bottom: 50rpx;
}
.mphone{
    display: flex;

    .text{
     flex: 2;  
     font-size: 40rpx; 
     margin-left: 50rpx;
     margin-top: 30rpx;
    }
   .inputphone{
       flex: 5;
       height: 70rpx;
       margin-top: 30rpx;
       margin-right: 50rpx;
       border: 1px solid royalblue;
    }
}
.verify{
    display: flex;
    .verifyinput{
        flex: 3;
        height: 70rpx;
        margin-top: 55rpx;
        margin-left: 235rpx;
        border: 1px solid royalblue;
    }
    .getverify{
        flex: 3;
        
        height: 75rpx;
        background: skyblue;
        
        font-size: 30rpx; 
        margin-top: 55rpx;
        text-align: center;
      
        margin-right: 50rpx;
        margin-left: 20rpx;
    }
}
.submit{
    margin-top: 50rpx;
    margin-left: 240rpx;
    margin-right: 300rpx;
    border-radius:20rpx;
    text-align: center;
    font-size: 45rpx;
    background: chartreuse;
}