 
 <view>收货地址：</view>
 <view>{{name}}{{}}</view>
 <text>{{grade_name}}</text>
<view class='top'>
  <!-- 下拉框 -->
  <view class='top-selected' bindtap='bindShowMsg'>
   <text>选择地址</text>
  </view>
  <!-- 下拉需要显示的列表 -->
  <view class="select_box" wx:if="{{select}}">
   <view wx:for="{{grades}}" wx:key="unique">
    <view class="select_one" bindtap="mySelect" data-name="{{item.name}}" data-grade_name="{{item.address}}"
    >
    <view>{{name}}</view>
    <view>{{item.address}}</view>
    </view>
   </view>
  </view>
 </view>
