page {
    height: 100%;
}
.domain_container{
    height: 100%;
    display: flex;
    .left_menu{
        flex: 3;
        //background-color: aqua;
        border-right:2rpx solid #ccccff;
        //border-bottom: 1rpx solid #ffcccc;

        .manage{
            height: 80rpx;
            margin-top: 30rpx;
            text-align: center;
            font-size: 28rpx;
            border-bottom: 1rpx solid #ffcccc;
        }
        .release{
            height: 80rpx;
            margin-top: 30rpx;
            text-align: center;
            font-size: 28rpx;
            border-bottom: 1rpx solid #ffcccc;
        }
        .pend{
            height: 80rpx;
            margin-top: 30rpx;
            text-align: center;
            font-size: 28rpx;
            border-bottom: 1rpx solid #ffcccc;
        }
        .shipped{
            height: 80rpx;
            margin-top: 30rpx;
            text-align: center;
            font-size: 28rpx;
            border-bottom: 1rpx solid #ffcccc;
        }
        .done{
            height: 80rpx;
            margin-top: 30rpx;
            text-align: center;
            font-size: 28rpx;
            border-bottom: 1rpx solid #ffcccc;
        }
        .address{
            height: 80rpx;
            margin-top: 30rpx;
            text-align: center;
            font-size: 28rpx;
            border-bottom: 1rpx solid #ffcccc;
        }
        .customer{
            height: 80rpx;
            margin-top: 30rpx;
            text-align: center;
            font-size: 28rpx;
            border-bottom: 1rpx solid #ffcccc;
        }
    }
    .right_content{
        flex:9;
        background-color:#fbfbff;
        //产品管理
        .manage{
            .toptitle{
                font-size: 50rpx;
                text-align: center;
                margin-bottom: 20rpx;
                border-bottom: 1rpx solid #ffcccc;
            }
            .caslist{
                display: flex;
                margin-bottom: 20rpx;
                //border-top: 1rpx solid #ffcccc;
                border-bottom: 1rpx solid #ffcccc;
                .caslistimg{
                    flex: 1;
                    margin-top: 20rpx;
                    margin-bottom: 20rpx;
                    height: 80rpx;
                    width: 80rpx;
                }
                .casname{
                flex: 2;      
                margin-left: 15rpx;
                font-size: 30rpx;
                }
                .casprice{
                 flex: 3;
                 align-self: center;
                 margin-left: 8rpx; 
                }
                .casnum{
                    flex: 2;
                    align-self: center;
                    margin-left: 5rpx;      
                }
                .updateproduct{
                    flex: 1;
                    align-self: center;
                    color: 	#808080; 
                }
            }
        }
        //产品发布
        .release{
            .v1{
                font-size: 40rpx;
                text-align: center;
            }
            // 产品名称
            .v_name{
                margin-top: 20rpx;
            }
            .product_name{
                width: 95%;
                margin-left: 10rpx;
                margin-top: 10rpx;
                border: 1rpx solid #ccccff;
                
            }
            //产品数量
            .v_number{
                margin-top: 20rpx;
            }
            .product_number{
                width: 95%;
                margin-left: 10rpx;
                margin-top: 10rpx;
                border: 1rpx solid #ccccff;
            }
            //产品价格
            .v_price{
                margin-top: 20rpx;
            }
            .product_price{
                width: 95%;
                margin-left: 10rpx;
                margin-top: 10rpx;
                border: 1rpx solid #ccccff;
            }
            //产品描述
            .v_describe{
                margin-top: 20rpx;
            }
            .dproduct_describe{
                width: 95%;
                border:2rpx solid rgb(156, 222, 248);
                margin-left: 10rpx;
                margin-top: 10rpx;
            }
            
            .upload_text{
                font-size: 35rpx;
                margin-left: 140rpx;
            }
            .upload_pictures{

                margin-left: 220rpx;
                height: 80rpx;
                width: 80rpx;
            }
            .uploding{
                display: flex;
               .logoinfo_img{
                   flex: 1;
                    margin-left: 10rpx;
                    height: 90rpx;
                    width: 90rpx; 
                }
            }

            
            
        }
        //待处理订单
        .pend{
            .toptitle{
                font-size: 50rpx;
                text-align: center;
                margin-bottom: 20rpx;
                border-bottom: 1rpx solid #ffcccc;
            }
            .caslist{
                display: flex;
                margin-bottom: 20rpx;
                //border-top: 1rpx solid #ffcccc;
                border-bottom: 1rpx solid #ffcccc;
                .caslistimg{
                    flex: 1;
                    margin-top: 20rpx;
                    margin-bottom: 20rpx;
                    height: 80rpx;
                    width: 80rpx;
                }
                .casname{
                flex: 4;      
                margin-left: 15rpx;
                font-size: 30rpx;
                }
                .casprice{
                 flex: 3;
                 align-self: center;
                 margin-left: 8rpx; 
                }
                .casnum{
                    flex: 2;
                    align-self: center;
                    margin-left: 5rpx;      
                }
                .updateproduct{
                    flex: 2;
                    align-self: center;
                    color: 	#808080; 
                }
            }

        }
        //待发货订单
        .shipped{
            .toptitle{
                font-size: 50rpx;
                text-align: center;
                margin-bottom: 20rpx;
                border-bottom: 1rpx solid #ffcccc;
            }
            .caslist{
                display: flex;
                margin-bottom: 20rpx;
                //border-top: 1rpx solid #ffcccc;
                border-bottom: 1rpx solid #ffcccc;
                .caslistimg{
                    flex: 1;
                    margin-top: 20rpx;
                    margin-bottom: 20rpx;
                    height: 80rpx;
                    width: 80rpx;
                }
                .casname{
                flex: 4;      
                margin-left: 15rpx;
                font-size: 30rpx;
                }
                .casprice{
                 flex: 3;
                 align-self: center;
                 margin-left: 8rpx; 
                }
                .casnum{
                    flex: 2;
                    align-self: center;
                    margin-left: 5rpx;      
                }
                .updateproduct{
                    flex: 2;
                    align-self: center;
                    color: 	red; 
                }
            }

        }
        //已完成订单
        .done{
            .toptitle{
                font-size: 50rpx;
                text-align: center;
                margin-bottom: 20rpx;
                border-bottom: 1rpx solid #ffcccc;
            }
            .caslist{
                display: flex;
                margin-bottom: 20rpx;
                //border-top: 1rpx solid #ffcccc;
                border-bottom: 1rpx solid #ffcccc;
                .caslistimg{
                    flex: 1;
                    margin-top: 20rpx;
                    margin-bottom: 20rpx;
                    height: 80rpx;
                    width: 80rpx;
                }
                .casname{
                flex: 4;      
                margin-left: 15rpx;
                font-size: 30rpx;
                }
                .casprice{
                 flex: 3;
                 align-self: center;
                 margin-left: 8rpx; 
                }
                .casnum{
                    flex: 2;
                    align-self: center;
                    margin-left: 5rpx;      
                }
                .updateproduct{
                    flex: 2;
                    align-self: center;
                    color: 	#808080; 
                }
            }
        }
        .address{
            .adma{
                .adti{
                margin-top: 15rpx;
                margin-left: 20rpx;
                color: #2E9AFE;
                }
                .adad{
                    margin-top: 15rpx;
                    margin-left: 20rpx;
                    color: #2E9AFE;
                }
            }
            .btns{
                margin-top: 30rpx;
            }
        }
        //我的客服
        .customer{
            .cuma{
                margin-left: 20rpx;
                margin-top: 20rpx;
                margin-right: 20rpx;
                border-radius: 15rpx;
                background: #ececff;
                border: 1rpx solid rgb(156, 222, 248);
                display: flex;
                .cuname{
                    flex: 5;
                    margin-top: 20rpx;
                    margin-left: 20rpx;
                    margin-bottom: 20rpx;
                   font-size: 35rpx; 
                }
                .ic{
                    flex: 1; 
                    justify-content: flex-end;margin: 0 auto;
                    .vc{
                        border-radius: 20rpx;
                        border: 1rpx solid red;
                        background: red;
                        font-size: 30rpx;
                        color: white;
                        margin-top: 20rpx;
                        margin-left: 15rpx;
                        text-align: center;
                        width: 40rpx;
                        height: 40rpx;
                       
                    }
                }
                .neimg{
                    margin-top: 17rpx;
                    margin-right: 10rpx;
                    width: 50rpx;
                    height: 50rpx;
                }
            }


        }
    }
}