<!-- 头部 -->

<view class="title">
<view class="tiname">
平台客服
</view>
</view>
<!-- 信息部分 -->
<view class="main">
	<scroll-view scroll-y="{{true}}" scroll-into-view="{{id}}" class="left_menu">
	<view wx:for="{{list}}">
		<view wx:if="{{item.contype=='1'}}">
			<view class="storeinfo" id="{{'a'+item.id}}">
				<image src="../../icons/user/customer.png" class="customerimg"></image>
				<view class="ma">
					<view class="con">{{item.content}}</view>
				</view>
			
			</view>
		</view>
		<view wx:else>
			<view class="userinfo" id="{{'a'+item.id}}">
					<view class="mk">
						<view class="mb">
						<view class="conb">{{item.content}}</view>
						</view>
							<image src="{{rawData_avatarUrl}}" class="conimg"></image>
						</view>
					</view>


		</view>
	</view>
	</scroll-view>
	</view>
	<!-- 输入框 -->
	<!-- 操作栏 -->
  <view class="btm_tool" >
	<form bindsubmit="formSubmit" bindreset="formReset" class="fromx" style="height: 90rpx">
   <view class="vvv">
    <view class="tool_item">
		   <input class="in" name="in" value="{{inputinfo}}"></input>
    </view> 
	<button formType="submit" class="btn_buy"> 
			发送
	</button>
	</view>
	 </form>
</view>
