<template>
   <div style="height:500px;">
  <el-table
    :data="merchantlist"
    style="width: 100%">
    <el-table-column
      label="id"
      width="60">
      <template slot-scope="scope">
        <i class="el-icon-time"></i>
        <span style="margin-left: 10px">{{ scope.row.id }}</span>
      </template>
    </el-table-column>

      <el-table-column
      label="adminOpenid"
      width="300">
      <template slot-scope="scope">
        <i class="el-icon-time"></i>
        <span style="margin-left: 10px">{{ scope.row.adminOpenid }}</span>
      </template>
    </el-table-column>

    <el-table-column
      label="店铺名称"
      width="120">
      <template slot-scope="scope">
        <i class="el-icon-time"></i>
        <span style="margin-left: 10px">{{ scope.row.storeName }}</span>
      </template>
    </el-table-column>

        <el-table-column
      label="店铺类型"
      width="120">
      <template slot-scope="scope">
        <i class="el-icon-time"></i>
        <span style="margin-left: 10px">{{ scope.row.storeType }}</span>
      </template>
    </el-table-column>
   <el-table-column
      label="地址经度"
      width="130">
      <template slot-scope="scope">
        <i class="el-icon-time"></i>
        <span style="margin-left: 10px">{{ scope.row.latitude }}</span>
      </template>
    </el-table-column>
       <el-table-column
      label="地址纬度"
      width="130">
      <template slot-scope="scope">
        <i class="el-icon-time"></i>
        <span style="margin-left: 10px">{{ scope.row.longitude }}</span>
      </template>
    </el-table-column>
    <!-- <el-table-column
      label="姓名"
      width="180">
      <template slot-scope="scope">
        <el-popover trigger="hover" placement="top">
          <p>姓名: {{ scope.row.name }}</p>
          <p>住址: {{ scope.row.address }}</p>
          <div slot="reference" class="name-wrapper">
            <el-tag size="medium">{{ scope.row.name }}</el-tag>
          </div>
        </el-popover>
      </template>
    </el-table-column> -->
    <el-table-column label="操作">
      <template slot-scope="scope">

                <el-button
                size="mini"
                @click="handleEdit(scope.row.id, scope.row)">编辑</el-button>
      
        <el-button
          size="mini"
          type="danger"
          @click="handleDelete(scope.$index, scope.row)" disabled>删除</el-button>
      </template>
    </el-table-column>
  </el-table>



  <el-dialog title="" :visible.sync="dialogFormVisible">
  <el-form :model="form">

    <el-form-item label="用户id：" :label-width="formLabelWidth" style="text-align:left">
      {{form.id}}
    </el-form-item>
    
    <el-form-item label="商家openid：" :label-width="formLabelWidth" style="text-align:left">
      {{form.adminOpenid}}
    </el-form-item>

        <el-form-item label="商家名称：" :label-width="formLabelWidth">
      <el-input v-model="form.storeName" autocomplete="off"></el-input>
    </el-form-item>
        <el-form-item label="商家类型：" :label-width="formLabelWidth">
      <el-input v-model="form.storeType" autocomplete="off"></el-input>
    </el-form-item>

    <el-form-item label="邮箱：" :label-width="formLabelWidth">
      <el-input v-model="form.latitude" autocomplete="off"></el-input>
    </el-form-item>

        <el-form-item label="用户密码：" :label-width="formLabelWidth">
      <el-input v-model="form.longitude" autocomplete="off"></el-input>
    </el-form-item>

           <el-form-item label="备注：" :label-width="formLabelWidth">
      <el-input v-model="form.address" autocomplete="off"></el-input>
    </el-form-item>
    <!-- <el-form-item label="活动区域" :label-width="formLabelWidth">
      <el-select v-model="form.region" placeholder="请选择活动区域">
        <el-option label="区域一" value="shanghai"></el-option>
        <el-option label="区域二" value="beijing"></el-option>
      </el-select>
    </el-form-item> -->
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="dialogFormVisible = false">取 消</el-button>
    <el-button type="primary" @click="toupdate">确 定</el-button>
  </div>
</el-dialog>



</div>

</template>

<script>
export default {
  data() {
    return {
      count: 10,
      loading: false,
      merchantlist:[],
      dialogTableVisible: false,
      dialogFormVisible: false,
      form: {
          id: '',
          adminOpenid: '',
          storeName: '',
          storeType: '',
          latitude: '',
          longitude: '',
          address: ''
        },
        formLabelWidth: '120px',
    };
  },
  computed: {},
  methods: {
    //编辑
     handleEdit(id, row) {
      console.log("你点击了编辑")
      console.log(id)
      console.log(row)
      this.dialogFormVisible = true
          for(let i=0;i<this.merchantlist.length;i++){
            if(this.merchantlist[i].id==id){
              this.form.id=this.merchantlist[i].id
              this.form.adminOpenid=this.merchantlist[i].adminOpenid
              this.form.storeName=this.merchantlist[i].storeName
              this.form.storeType=this.merchantlist[i].storeType
              this.form.latitude=this.merchantlist[i].latitude
              this.form.longitude=this.merchantlist[i].longitude
              // this.form.avatarUrl=this.userlist[i].avatarUrl
              this.form.address=this.merchantlist[i].address
            }
          }
     },
     
    async toupdate(){
       console.log("你点击了确定")
    this.dialogFormVisible = false
      await this.$http.get('/pcupdateuserlist/pcupdatestore',{params:{
        id:this.form.id,
        adminOpenid:this.form.adminOpenid,
        storeName:this.form.storeName,
        storeType:this.form.storeType,
        latitude:this.form.latitude,
        longitude:this.form.longitude,
        address:this.form.address
        }})
          .then(res => { //捕获确认事件，执行
                      console.log(res.data)
                      this.openVn()
                     // this.getUserlist()
                     this.getmerchantlist()
                        })
                    .catch(res=>{
                   
                    });
     },
          openVn() {
        const h = this.$createElement;
        this.$message({
          message: h('p', null, [
            // h('span', null, '内容可以是 '),
            h('i', { style: 'color: teal' }, '修改成功')
          ])
        });
      },
     //获取商家列表
    async getmerchantlist() {
      console.log("查询merchantlist用户");
      await this.$http
        .get("/pcmerchant/getstorelist")
        .then((res) => {
          //捕获确认事件，执行
          console.log(res.data.data);
          this.merchantlist = res.data.data;
        })
        .catch((res) => {});
    }
    // load () {
    // setTimeout(() => {
    //   this.count += 2
    //   this.loading = false
    // }, 2000)
    // }
  },
    created() {
      this.getmerchantlist()
    },
  mounted() {
   
  },
};
</script>