
   <template>
   <div style="height:500px;">
  <el-table
    :data="userlist"
    style="width: 100%">
    <el-table-column
      label="id"
      width="100">
      <template slot-scope="scope">
        <i class="el-icon-time"></i>
        <span style="margin-left: 10px">{{ scope.row.id }}</span>
      </template>
    </el-table-column>

      <el-table-column
      label="openId"
      width="300">
      <template slot-scope="scope">
        <i class="el-icon-time"></i>
        <span style="margin-left: 10px">{{ scope.row.openId }}</span>
      </template>
    </el-table-column>

    <el-table-column
      label="用户名"
      width="180">
      <template slot-scope="scope">
        <i class="el-icon-time"></i>
        <span style="margin-left: 10px">{{ scope.row.nickName }}</span>
      </template>
    </el-table-column>

        <el-table-column
      label="手机号"
      width="180">
      <template slot-scope="scope">
        <i class="el-icon-time"></i>
        <span style="margin-left: 10px">{{ scope.row.phone }}</span>
      </template>
    </el-table-column>
    <!-- <el-table-column
      label="姓名"
      width="180">
      <template slot-scope="scope">
        <el-popover trigger="hover" placement="top">
          <p>姓名: {{ scope.row.name }}</p>
          <p>住址: {{ scope.row.address }}</p>
          <div slot="reference" class="name-wrapper">
            <el-tag size="medium">{{ scope.row.name }}</el-tag>
          </div>
        </el-popover>
      </template>
    </el-table-column> -->
    <el-table-column label="操作">
      <template slot-scope="scope">
                <el-button
                size="mini"
                @click="handleEdit(scope.row.id, scope.row)">编辑</el-button>
      
        <el-button
          size="mini"
          type="danger"
          @click="handleDelete(scope.$index, scope.row)" disabled>删除</el-button>
      </template>
    </el-table-column>
  </el-table>

  <el-dialog title="" :visible.sync="dialogFormVisible">
  <el-form :model="form">

    <el-form-item label="用户id：" :label-width="formLabelWidth" style="text-align:left">
      {{form.id}}
    </el-form-item>
    
    <el-form-item label="用户openid：" :label-width="formLabelWidth" style="text-align:left">
      {{form.openId}}
    </el-form-item>
    <el-form-item label="用户名称：" :label-width="formLabelWidth" style="text-align:left">
      {{form.nickName}}
    </el-form-item>

        <el-form-item label="用户手机号：" :label-width="formLabelWidth">
      <el-input v-model="form.phone" autocomplete="off"></el-input>
    </el-form-item>

    <el-form-item label="邮箱：" :label-width="formLabelWidth">
      <el-input v-model="form.email" autocomplete="off"></el-input>
    </el-form-item>

        <el-form-item label="用户密码：" :label-width="formLabelWidth">
      <el-input v-model="form.password" autocomplete="off"></el-input>
    </el-form-item>

           <el-form-item label="备注：" :label-width="formLabelWidth">
      <el-input v-model="form.remark" autocomplete="off"></el-input>
    </el-form-item>
    <!-- <el-form-item label="活动区域" :label-width="formLabelWidth">
      <el-select v-model="form.region" placeholder="请选择活动区域">
        <el-option label="区域一" value="shanghai"></el-option>
        <el-option label="区域二" value="beijing"></el-option>
      </el-select>
    </el-form-item> -->
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="dialogFormVisible = false">取 消</el-button>
    <el-button type="primary" @click="toupdate">确 定</el-button>
  </div>
</el-dialog>
</div>
</template>


<script>
  export default {
    data() {
      return { 
        userlist:[],

// sss

        dialogTableVisible: false,
        dialogFormVisible: false,
        form: {
          id: '',
          openId: '',
          nickName: '',
          phone: '',
          password: '',
          email: '',
          avatarUrl: '',
          remark: ''
        },
        formLabelWidth: '120px',
//dd
        //选中用户名
        newname:'',

      }
    },
    methods: {

      handleEdit(id, row) {
          //   this.$router.push({ path: '/welcome',query: {
          //   id: this.str
          // }})
          this.dialogFormVisible = true
          for(let i=0;i<this.userlist.length;i++){
            if(this.userlist[i].id==id){
              this.form.id=this.userlist[i].id
              this.form.openId=this.userlist[i].openId
              this.form.nickName=this.userlist[i].nickName
              this.form.phone=this.userlist[i].phone
              this.form.password=this.userlist[i].password
              this.form.email=this.userlist[i].email
              // this.form.avatarUrl=this.userlist[i].avatarUrl
              this.form.remark=this.userlist[i].remark
            }
          }
        console.log(id, row);
      },
      //确定修改
      async toupdate(){ 
        this.dialogFormVisible = false
        console.log("你点击了修改")
      await this.$http.get('/pcupdateuserlist/pcupdateuser',{params:{
        id:this.form.id,
        openId:this.form.openId,
        nickName:this.form.nickName,
        phone:this.form.phone,
        password:this.form.password,
        email:this.form.email,
        avatarUrl:this.form.avatarUrl,
        remark: this.form.remark
        }})
            .then(res => { //捕获确认事件，执行
                      console.log(res.data)
                      this.openVn()
                      this.getUserlist()
                        })
                    .catch(res=>{
                   
                    });
      },
      openVn() {
        const h = this.$createElement;
        this.$message({
          message: h('p', null, [
            // h('span', null, '内容可以是 '),
            h('i', { style: 'color: teal' }, '修改成功')
          ])
        });
      },
      //删除
      handleDelete(id, row) {
        console.log(id, row);
      },
    //   async getMenuList () {
    //   await this.$http.get('/pcmerchant/menus')
    //   .then(res => { //捕获确认事件，执行
    //                   console.log(res.data.data)
    //                    this.menuList = res.data.data
    //                     })
    //                 .catch(res=>{
                   
    //                 });
    // },
   async getUserlist(){
      console.log("查询userlist用户")
     
      await this.$http.get('/pcmerchant/getuserlist')
      .then(res => { //捕获确认事件，执行
                      console.log(res.data.data)
                       this.userlist = res.data.data
                        })
                    .catch(res=>{
                   
                    });
    }
    },
    created() {
         //const { data: res } = this.$http.post('/pcmerchant/menus')
         //this.getMenuList()
         this.getUserlist()
    },
    mounted: function () {

    }
    ,
    activated(){

       
     },
     
  }
</script>