/* pages/category/category.wxss */
page {
    height: 100%;
}
.title{
    height: 7%;
    font-size: 45rpx;
    text-align: center;
    border-bottom: 2rpx solid #ccccff;
}
.main_v{
    height: 93%;
    display: flex;
    .left_menu{
        flex: 3;
        //background-color: aqua;
        border-right:2rpx solid #ccccff;
        .typefor{
            .productType{
                font-size: 38rpx;
                height: 80rpx;
                text-align: center;
                margin-top: 15rpx;
                border-bottom: 1rpx solid #e0e0e0;
            }
        }
    }
    .right_content{
        flex:9;
        //background-color:beige;
        .pro{
            width: 600rpx;
            background: #fff;
            padding: 30rpx 30rpx 0;
            border-radius: 20rpx;
            display: flex;
            // justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: row;
            .goods{
              width:145rpx;
              font-size: 20rpx;
              text-align: center;
              margin-bottom: 50rpx;
              margin-right: 50rpx;
              .img{
                height: 145rpx;
                width: 145rpx;
              }
        
              .price{
                color: red;
              }
            }
          
            .goods:nth-child(3n) {
              margin-right: 0;
            }
          }
    }
}