/* pages/messlist/messlist.wxss */
page{
    background: #ecf5ff;
}
.me{
    border-bottom: 1rpx solid royalblue;
    .meti{
        margin-top: 20rpx;
        margin-left: 50rpx;
        margin-bottom: 20rpx;
        font-size: 45rpx;
    }
}
.ma{
    
    border: 1rpx solid darkgray;
    border-radius: 15rpx;
    width: 90%;
    height: 80rpx;
    margin-left: 50rpx;
    font-size: 45rpx;
    margin-top: 30rpx;
    display: flex;
    .name{
        flex: 5;
        margin-top: 10rpx;
        margin-left: 10rpx;
        margin-bottom: 10rpx;
    }
    .manum{
        flex: 1;
        
        justify-content: flex-end;margin: 0 auto;
        .num{
            border: 1rpx solid red;
            margin-top: 20rpx;
            margin-left: 50rpx;
            border-radius: 30rpx;
            font-size: 30rpx;
            background: red;
            color: whitesmoke;
            text-align: center;
        }
    }
    .img{
        flex: 1;
        margin-top: 15rpx;
        margin-right: 11rpx;
        width: 50rpx;
        height: 50rpx;
    }

}


