
   <template>
  <div style="height: 500px">
    <div class="addtext"  @click="dialogTableVisible = true">添加</div>
    <el-table :data="AdminUserlist" style="width: 100%">
      <el-table-column label="id" width="100">
        <template slot-scope="scope">
          <i class="el-icon-time"></i>
          <span style="margin-left: 10px">{{ scope.row.id }}</span>
        </template>
      </el-table-column>

      <el-table-column label="用户名" width="150">
        <template slot-scope="scope">
          <i class="el-icon-time"></i>
          <span style="margin-left: 10px">{{ scope.row.adminusername }}</span>
        </template>
      </el-table-column>


      <el-table-column label="手机号" width="150">
        <template slot-scope="scope">
          <i class="el-icon-time"></i>
          <span style="margin-left: 10px">{{ scope.row.phone }}</span>
        </template>
      </el-table-column>
      
      <el-table-column label="类型" width="60">
        <template slot-scope="scope">
          <i class="el-icon-time"></i>
          <span style="margin-left: 10px">{{ scope.row.utype }}</span>
        </template>
      </el-table-column>

      <el-table-column label="邮箱" width="200">
        <template slot-scope="scope">
          <i class="el-icon-time"></i>
          <span style="margin-left: 10px">{{ scope.row.email }}</span>
        </template>
      </el-table-column>
            <el-table-column label="用户密码" width="150">
        <template slot-scope="scope">
          <i class="el-icon-time"></i>
          <span style="margin-left: 10px">{{ scope.row.adminpassword }}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">

          <el-button size="mini" @click="handleEdit(scope.row)"
            >编辑</el-button
          >
          <el-button
            size="mini"
            type="danger"
            @click="handleDelete(scope.$index, scope.row)"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>

  <el-dialog title="" :visible.sync="dialogFormVisible">
  <el-form :model="form">

    <el-form-item label="id：" :label-width="formLabelWidth" style="text-align:left">
      {{form.id}}
    </el-form-item>
        <el-form-item label="类型：" :label-width="formLabelWidth" style="text-align:left">
      {{form.utype}}
    </el-form-item>
        <el-form-item label="用户名：" :label-width="formLabelWidth">
      <el-input v-model="form.adminusername" autocomplete="off"></el-input>
    </el-form-item>

    <el-form-item label="手机号：" :label-width="formLabelWidth">
      <el-input v-model="form.phone" autocomplete="off"></el-input>
    </el-form-item>

    <el-form-item label="邮箱：" :label-width="formLabelWidth">
      <el-input v-model="form.email" autocomplete="off"></el-input>
    </el-form-item>
        <el-form-item label="密码：" :label-width="formLabelWidth">
      <el-input v-model="form.adminpassword" autocomplete="off"></el-input>
    </el-form-item>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="dialogFormVisible = false">取 消</el-button>
    <el-button type="primary" @click="toupdate">确 定</el-button>
  </div>
</el-dialog>
<!-- 添加 -->
  <el-dialog title="" :visible.sync="dialogTableVisible">
  <el-form :model="form">
        <el-form-item label="用户名：" :label-width="formLabelWidth">
      <el-input v-model="formadd.adminusername" autocomplete="off"></el-input>
    </el-form-item>

    <el-form-item label="手机号：" :label-width="formLabelWidth">
      <el-input v-model="formadd.phone" autocomplete="off"></el-input>
    </el-form-item>

    <el-form-item label="邮箱：" :label-width="formLabelWidth">
      <el-input v-model="formadd.email" autocomplete="off"></el-input>
    </el-form-item>

    <el-form-item label="类型：" :label-width="formLabelWidth">
      <el-input v-model="formadd.utype" autocomplete="off"></el-input>
    </el-form-item>

        <el-form-item label="密码：" :label-width="formLabelWidth">
      <el-input v-model="formadd.adminpassword" autocomplete="off"></el-input>
    </el-form-item>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="dialogTableVisible = false">取 消</el-button>
    <el-button type="primary" @click="toupdateadd">确 定</el-button>
  </div>
</el-dialog>

  </div>
</template>

<style>
.addtext{
  width: 50px;
  height: 25px;
  text-align: center;
  float: right;
  margin-bottom: 10px;
  border: 1px solid royalblue;
  border-radius: 6px;
  background:cornsilk;
}
</style>
<script>
export default {
  data() {
    return {
      AdminUserlist: [],
      dialogTableVisible: false,
      dialogFormVisible: false,
       formLabelWidth: '120px',
       formadd:{
        adminpassword:"",
        adminusername:"",
        email:"",
        phone:"",
        utype:""
       },
      form:{
        adminpassword:"",
        adminusername:"",
        email:"",
        id:"",
        phone:"",
        utype:""
      }
    };
  },
  methods: {
     handleClose(done) {
       console.log(done)

      },
    handleEdit(e) {
      console.log(e)
     this.dialogFormVisible = true;
     this.form.adminpassword=e.adminpassword
     this.form.adminusername=e.adminusername
     this.form.email=e.email
     this.form.id=e.id
     this.form.phone=e.phone
     this.form.utype=e.utype
      //console.log(id, row);
    },
   async handleDelete(id, row) {
    let that=this
      console.log(id, row);
      if(row.utype==0){
        this.dialogVisible=true

        console.log("可删除")   
             await this.$http.get('/pcupdateuserlist/deleteadminuser',{params:{
              id: row.id,
            }})
            .then(res => { //捕获确认事件，执行
                      console.log(res.data)
                     // that.openVn()
                      that.getAdminUserlist()
                        })
                    .catch(res=>{
                   
                    });
      }else{
         this.open4()
      }
    },
    isdelete(){

    },
      open4() {
        this.$message({
          showClose: true,
          message: '你没有权限哦',
          type: 'error'
        });
      },
   async toupdateadd(){
    console.log("你点了确定")
     let that=this
      this.dialogTableVisible = false
     await this.$http.get('/pcupdateuserlist/addadminuser',{params:{
        adminpassword: this.formadd.adminpassword,
        adminusername: this.formadd.adminusername,
        email:this.formadd.email,
        phone: this.formadd.phone,
        utype:this.formadd.utype,
        }})
            .then(res => { //捕获确认事件，执行
                      console.log(res.data)
                     // that.openVn()
                      that.getAdminUserlist()
                        })
                    .catch(res=>{
                   
                    });

    },
   async toupdate(){
      console.log("你点击了确定")
     let that=this
      this.dialogFormVisible = false
     await this.$http.get('/pcupdateuserlist/updateadminuser',{params:{
        id:this.form.id,
        adminpassword: this.form.adminpassword,
        adminusername: this.form.adminusername,
        email:this.form.email,
        phone: this.form.phone,
        utype:this.form.utype,
        }})
            .then(res => { //捕获确认事件，执行
                      console.log(res.data)
                      //that.openVn()
                      that.getAdminUserlist()
                        })
                    .catch(res=>{
                   
                    });
    },
    async getAdminUserlist() {
      console.log("查询adminlist用户");
      await this.$http
        .get("/pcmerchant/getadminuserlist")
        .then((res) => {
          //捕获确认事件，执行
          console.log(res.data.data);
          this.AdminUserlist = res.data.data;
        })
        .catch((res) => {});
    },
  },
  created() {
    //const { data: res } = this.$http.post('/pcmerchant/menus')
    //this.getMenuList()
    this.getAdminUserlist();
  },
};
</script>