/* pages/product/updateproduct/updateproduct.wxss */
page {
    height: 100%;
}
.UpPro{
    font-size: 40rpx;
    text-align: center;
}
.pronum{
   display: flex;
   font-size: 45rpx;
   margin-top: 20rpx;
   margin-left: 20rpx;
    .ProductName{
        width: 350rpx;
        border-radius: 8rpx;
        border: 1px solid #bebebe;
    }
    .pronumbtn{   
        width: 200rpx;
        border-radius: 8rpx;
        border: 1px solid #bebebe;
    }
}
.describetext{
    margin-left: 20rpx;
    margin-top: 20rpx;
    font-size: 35rpx;
    color: #adadad;
}
.dproduct_describe{
    width: 95%;
    border:2rpx solid rgb(156, 222, 248);
    margin-left: 20rpx;
    margin-top: 10rpx;
}
.sifttext{
    margin-top: 30rpx;
    text-align: center;
    font-size: 40rpx;
}
.upload_pictures{
      //水平轴线居中
    margin-left: 340rpx;
    height: 80rpx;
    width: 80rpx;
}
.Detailstext{
    margin-top: 30rpx;
    text-align: center;
    font-size: 40rpx;
}
.sift{
    display: flex;
  margin-top: 25rpx;
    .siftimg{ 
    margin-left: 20rpx; 
    border: 1rpx solid #e0e0e0;
    width: 125rpx;
    height: 125rpx;
    }
}
.Details{
    display: flex;
    margin-top: 25rpx;
    .Detailsimg{
        margin-left: 20rpx; 
        border: 1rpx solid #e0e0e0;
        height: 125rpx;
        width: 125rpx;
    } 
}
.btn{
    margin-top: 20rpx;
}
.looking{
    color: #00bb00;
    margin-top: 30rpx;
    margin-left: 240rpx;
    margin-bottom: 50rpx;
    text-align: center;
    font-size: 35rpx;
    width: 270rpx;
    height: 50rpx;
    border-radius: 8rpx;
    border:  1rpx solid #adadad;
}
.detail_swiper{
    border-top: 1rpx solid #e0e0e0;
    swiper{
      height: 65vw;
      text-align: center;
      image{
        width: 60%;
      }
    }
  }
  .goods_price{
    padding: 15rpx;
    font-size: 32rpx;
    font-weight: 600;
    color: red;
  }
  .goods_name_row{
    border-top: 5rpx solid #dedede;
    border-bottom: 5rpx solid #dedede;
    padding: 10rpx 0;
    display: flex;
    .goods_name{
      flex: 5;
      color: #000;
      font-size: 30rpx;
      padding: 0 10rpx;
  
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp:2;
    }
    .goods_collect{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-left: 1rpx solid #000;
      
      .icon-shoucang1{
        color: orangered;
      }
     
    }
  }
  .imagetext{
      color: #00bfff;
      font-size: 35rpx;
      margin-top: 20rpx;
      margin-left: 10rpx;
      margin-bottom:10rpx;
  }
  .dproduct_describes{
    width: 95%;
    font-size:30rpx ;
    color: #adadad;
    margin-left: 20rpx;
    margin-top: 10rpx;
    margin-bottom: 50rpx;
}