page{
  background: radial-gradient(red, orange, yellow); 
}

button{
  margin-top: 100rpx;
  width: 70%;
}
.phonebutten{
  border: 1px solid #84c1ff; 
  color: #84c1ff;
  font-size: 35rpx;
  margin-top: 80rpx;
  width: 70%;
}
.mailbutton{
  border: 1px solid #84c1ff; 
  color: #84c1ff;
  font-size: 35rpx;
  margin-top: 80rpx;
  width: 70%;
}