.title{
    border-bottom: 1rpx solid skyblue;
    height: 170rpx;
    .stname{
     font-size: 50rpx;
     margin-top: 20rpx;
     margin-left: 20rpx;
     color: #2E9AFE;
    }
    .tibu{
        display: flex;
        .staddress{
            width: 160rpx;
            height: 50rpx;
            font-size: 35rpx;
            text-align: center;
            margin-top: 20rpx;
            color: #585858;
            margin-left: 20rpx;
            border-radius: 15rpx;
            border: 1rpx solid #848484;
        }
        .stre{
            width: 160rpx;
            height: 50rpx;
            font-size: 35rpx;
            text-align: center;
            margin-top: 20rpx;
            color: #585858;
            border-radius: 15rpx;
            margin-left: 20rpx;
            border: 1rpx solid #848484;
        }
    }  
}


.pro{
    width: 750rpx;
    background: #fff;
    padding: 50rpx 50rpx 0;
    border-radius: 20rpx;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    .goods{
      width:180rpx;
      font-size: 20rpx;
      text-align: center;
      margin-bottom: 50rpx;
      margin-right: 50rpx;
      .img{
        height: 180rpx;
        width: 180rpx;
      }

      .price{
        color: red;
      }
    }
  
    .goods:nth-child(3n) {
      margin-right: 0;
    }
  }