<!-- 信息部分 -->
<view class="title">
  <view class="stname">{{storename}}</view>
  <view class="tibu">
    <view class="staddress" bindtap="toaddress">查看位置</view>
    <view class="stre" bindtap="tocustomer">联系商家</view>
  </view>
</view>
<!-- 商品部分 -->
  <view class="pro">
  <block     
     wx:for="{{prolist}}"
     wx:key="productId">
     <view class="goods" bindtap="proinfo" data-productId="{{item.proinfo.productId}}">
        <image class="img" src="{{item.logo}}" ></image>
        <view class="type_name">{{item.proinfo.productName}}</view>
        <view class="price">$:{{item.proinfo.productPrice}}</view>
     </view>
    </block> 
  </view>
