page{
    background-color: #F0FFFF;
}
.maintext{
    margin-top: 30rpx;
    margin-left: 30rpx;
    font-size: 45rpx;
}
.selectmain{
    border-radius: 20rpx;
    border: 1rpx solid #B0C4DE;
    margin-top: 20rpx;
    margin-left: 30rpx;
    margin-right: 20rpx;
    
.selectname{
    display: flex;
    .v1{
        font-size: 40rpx;
        margin-left: 30rpx;
        margin-top: 15rpx;
        margin-bottom: 15rpx;

    }
    .v2{
        margin-top: 25rpx;
        margin-left: 20rpx;
    }

}
.selectaddress{
    display: flex;
    .v3{
        font-size: 30rpx;
        margin-left: 30rpx;
        margin-bottom: 5rpx;
    }
}
.selectv{
    display: flex;
    .v4{
        margin-left: 30rpx;
        margin-top: 20rpx;
        width: 50rpx;
        height: 50rpx;
        margin-bottom: 20rpx;
    }
    .v5{
        flex: 6;
        margin-top: 25rpx;
        margin-left: 20rpx;
    }
    .v6{
        flex: 1;
        margin-top: 25rpx;
    }
}
}

.add{
    border: 1rpx solid #87CEFA;
    font-size: 45rpx;
    margin-top: 40rpx;
    margin-left: 200rpx;
    margin-right: 200rpx;
    text-align: center;
}
.addv{
    margin-left: 30rpx;
    margin-right: 30rpx;
    border-radius: 25px;
    margin-top: 30rpx;
    margin-bottom: 80rpx;
    border: 1rpx solid #AFEEEE;
}
.addresstitle{
    font-size: 50rpx;
    margin-top: 30rpx;
    margin-left: 30rpx;
    margin-bottom: 20rpx;
}
.name{
    
    display: flex;
    .nametext{
        font-size: 35rpx;
        margin-top: 20rpx;
        margin-left: 30rpx;
        margin-bottom: 20rpx;
        flex: 2;
    }
    .setname{
        margin-top: 20rpx;
        margin-bottom: 20rpx;
        border: 1px solid slateblue;
        margin-right: 400rpx;
        flex:3;
    }
    
}
.phone{
    display: flex;
   
    .phonetext{
        flex:2;
        font-size: 35rpx;
        margin-top: 20rpx;
        margin-left: 30rpx;
        margin-bottom: 20rpx;
    }
    .setphone{
        flex:5;
        margin-top: 20rpx;
        margin-bottom: 20rpx;
        margin-right: 280rpx;
        border: 1px solid slateblue;
    }
}
.address{
   
    .addresstext{
    font-size: 35rpx;
    margin-top: 20rpx;
    margin-left: 30rpx;
    margin-bottom: 20rpx;
    }
    .setaddress{
    margin-left: 150rpx;
    margin-right: 30rpx;
    margin-bottom: 35rpx;
    border: 1px solid slateblue;
    }
}
.setbtn{
    font-size: 35rpx;
    width: 100rpx;
    margin-top: 35rpx;
    margin-bottom: 20rpx;
    background-color: #66cdaa;
}