page {
  background-color: #ffffff;
}

.user_info_wrap {
  height: 16vh;
  display: flex;
  position: relative;
  .user_img_wrap{
    display: flex;
    height: 16vh;
    background-color: #99bbff;
    position: relative;
    .user_bg {
      display: flex;
      border: 1rpx solid greenyellow;
      width: 150rpx;
      height: 150rpx;
      border-radius: 50%;
    }
    .user_info{
      display: flex;
      width: 600rpx;
      .user_name {
        display: flex;
        margin-top: 60rpx;
        margin-bottom: 40rpx;
        margin-left: 30rpx;
        font-size: 40rpx;
        width: 200rpx;
      }
    }
  }
  .user_btn {
    display: flex;
    height: 16vh;
    background-color: #99bbff;
    position: relative;

    .user_image {
      display: flex;
      border: 1rpx solid greenyellow;
      width: 150rpx;
      height: 150rpx;
      border-radius: 50%;
    }

    .user_login {
      display: flex;
      width: 600rpx;

      .user_login_btn {
        display: flex;
        margin-top: 60rpx;
        margin-bottom: 40rpx;
        margin-left: 30rpx;
        font-size: 40rpx;
        width: 200rpx;
      }
    }
  }
} 

.user_main {
  
  position: relative;
  
  .user_goods_btn{
    display: flex;
    border-bottom: 1rpx solid #ccc;
    .v1 {
      flex: 1;
      margin-top: 20rpx;
      margin-left: 10rpx;
      margin-bottom: 10rpx;
    }
    .v2{
      flex: 8;
      font-size: 35rpx;
      margin-top: 30rpx;
      margin-left: 30rpx;
      width: 100%;
    }
    .v3{
      flex: 1;
      margin-top: 20rpx;
      margin-right: 18rpx;
      margin-bottom: 20rpx;
    }

  }
  .user_collect_btn{
    display: flex;
    border-bottom: 1rpx solid #ccc;
    .v1 {
      flex: 1;
      margin-top: 20rpx;
      margin-left: 10rpx;
      margin-bottom: 10rpx;
    }
    .v2{
      flex: 8;
      font-size: 35rpx;
      margin-top: 30rpx;
      margin-left: 30rpx;
      width: 100%;
    }
    .v3{
      flex: 1;
      margin-top: 20rpx;
      margin-right: 18rpx;
      margin-bottom: 20rpx;
    }
  }

 .user_store_btn{
  display: flex;
  border-bottom: 1rpx solid #ccc;
  .v1 {
    flex: 1;
    margin-top: 20rpx;
    margin-left: 10rpx;
    margin-bottom: 10rpx;
  }
  .v2{
    flex: 8;
    font-size: 35rpx;
    margin-top: 30rpx;
    margin-left: 30rpx;
    width: 100%;
  }
  .v3{
    flex: 1;
    margin-top: 20rpx;
    margin-right: 18rpx;
    margin-bottom: 20rpx;
  }

 }

 .user_adress_btn{
  display: flex;
  border-bottom: 1rpx solid #ccc;
  .v1 {
    flex: 1;
    margin-top: 20rpx;
    margin-left: 10rpx;
    margin-bottom: 10rpx;
  }
  .v2{
    flex: 8;
    font-size: 35rpx;
    margin-top: 30rpx;
    margin-left: 30rpx;
    width: 100%;
  } 
  .v3{
    flex: 1;
    margin-top: 20rpx;
    margin-right: 18rpx;
    margin-bottom: 20rpx;
  }
  }

  .user_id_btn{
    display: flex;
    border-bottom: 1rpx solid #ccc;
    .v1 {
      flex: 1;
      margin-top: 20rpx;
      margin-left: 10rpx;
      margin-bottom: 10rpx;
    }
    .v2{
      flex: 8;
      font-size: 35rpx;
      margin-top: 30rpx;
      margin-left: 30rpx;
      width: 100%;
    }
    .v3{
      flex: 1;
      margin-top: 20rpx;
      margin-right: 18rpx;
      margin-bottom: 20rpx;
    } 

  }

  .user_customer_btn {
    display: flex;
    border-bottom: 1rpx solid #ccc;
    .v1 {
      flex: 1;
      margin-top: 20rpx;
      margin-left: 10rpx;
      margin-bottom: 10rpx;
    }
    .v2{
      flex: 8;
      font-size: 35rpx;
      margin-top: 30rpx;
      margin-left: 30rpx;
      width: 100%;
    } 
    .v3{
      flex: 1;
      margin-top: 20rpx;
      margin-right: 18rpx;
      margin-bottom: 20rpx;
    }
  }
}