<view class="user_info_wrap">
  <view wx:if="{{token}}" class="user_img_wrap">
    <image class="user_bg" src="{{rawData_avatarUrl}}"></image>
    <view class="user_info">
      <view class="user_name">{{rawData_nickName}}</view>
    </view>
  </view>
  <view wx:else class="user_btn">
    <image class="user_image" src="../../icons/my.png"></image>
    <view class="user_login">
      <navigator class="user_login_btn" url="/pages/login/login">登录/注册</navigator>
    </view>
  </view>
</view>
<view class="user_main">
  <!-- 消息 -->
    <view class="user_goods_btn" bindtap="tomesslist" >
     <view class="v1"> <image mode="widthFix" src="../../icons/user/user-mess.png"></image></view>
      <view class="v2">我的消息</view>
      <view class="v3"> <image mode="widthFix" src="../../icons/user/user-next.png"></image></view>
    </view>
  <!-- 订单 -->
    <view class="user_goods_btn" bindtap="tomyorder">
     <view class="v1"> <image mode="widthFix" src="../../icons/user/user-order.png"></image></view>
      <view class="v2">我的订单</view>
      <view class="v3"> <image mode="widthFix" src="../../icons/user/user-next.png"></image></view>
    </view>
      <!-- 收藏 -->
    <view class="user_collect_btn" bindtap="tomycollect">
     <view class="v1"> <image mode="widthFix" src="../../icons/user/user-collect.png"></image></view>
      <view class="v2">我的收藏</view>
      <view class="v3"> <image mode="widthFix" src="../../icons/user/user-next.png"></image></view>
    </view>
  <!-- 店铺 -->
  
    <view class="user_store_btn" bindtap="user_store_btn">
      <view class="v1"> <image mode="widthFix" src="../../icons/user/user-store.png"></image></view>
      <view class="v2">我的店铺</view>
      <view class="v3"> <image mode="widthFix" src="../../icons/user/user-next.png"></image></view>
    </view>

  <!-- 地址 -->

    <view class="user_adress_btn" bindtap="tomyaddress">
      <view class="v1"> <image mode="widthFix" src="../../icons/user/user-location.png"></image></view> 
      <view class="v2">地址管理</view>
      <view class="v3"> <image mode="widthFix" src="../../icons/user/user-next.png"></image></view>
    </view>

  <!-- 账号 -->

    <view class="user_id_btn" bindtap="tomyaccount">
      <view class="v1"> <image mode="widthFix" src="../../icons/user/user-number.png"></image></view> 
      <view class="v2">账号管理</view>
      <view class="v3"> <image mode="widthFix" src="../../icons/user/user-next.png"></image></view>
    </view>

  <!-- 客服 -->
  
    <view class="user_customer_btn" bindtap="toadmincustomer">
      <view class="v1"> <image mode="widthFix" src="../../icons/user/user-customer.png"></image></view> 
      <view class="v2">联系客服</view>
      <view class="v3"> <image mode="widthFix" src="../../icons/user/user-next.png"></image></view>
    </view>
  
 
</view>