<template>
  <div class="home">
    <el-container class="conhome">
      <!-- 头部 -->
      <el-header>
          <div class="title">惠民助手平台管理中心</div>
          <div  class="toexit">
              <el-button type="info"  @click="toexit()" size="mini" plain>退出</el-button>
          </div>
         
      </el-header>
      <!-- 左侧 -->
      <el-container>
        <el-aside width="180px">
          <el-menu
            background-color="#545c64"
            text-color="#fff"
            active-text-color="#ffd04b"
          >
          <!-- 用户管理部分 -->
            <el-submenu index="0" >
              <template slot="title">
                <i class="el-icon-menu"></i>
                <span>用户管理</span>
              </template>
              <router-link to="/userlist">
                <el-menu-item index="1">
                  <template slot="title">
                    <i class="el-icon-user-solid"></i>
                    <span>用户列表</span>
                  </template>
                  </el-menu-item>
               </router-link>
                <router-link to="/merchantlist">
                <el-menu-item index="2">
                  <template slot="title">
                    <i class="el-icon-user-solid"></i>
                    <span>商家列表</span>
                  </template>
                  </el-menu-item>
               </router-link>
            </el-submenu>
           <!-- 商品管理部分 -->
            <el-submenu index="3" >
              <template slot="title">
                <i class="el-icon-menu"></i>
                <span>商品管理</span>
              </template>
              <router-link to="/productlist">
                <el-menu-item index="4">
                  <template slot="title">
                    <i class="el-icon-user-solid"></i>
                    <span>商品列表</span>
                  </template>
                  </el-menu-item>
               </router-link>
            </el-submenu>
            <!-- 客服部分 -->
            <el-submenu index="5" >
              <template slot="title">
                <i class="el-icon-menu"></i>
                <span>客服管理</span>
              </template>
              <router-link to="/customerlist">
                <el-menu-item index="6">
                  <template slot="title">
                    <i class="el-icon-user-solid"></i>
                    <span>客服列表</span>
                  </template>
                  </el-menu-item>
               </router-link>
            </el-submenu>
            <!-- 维护部分 -->

            <el-submenu v-if="usertype" index="7" >
              <template slot="title">
                <i class="el-icon-menu"></i>
              <span>维护管理</span>
              </template>
              <router-link to="/adminuserlist">
                <el-menu-item index="8">
                  <template slot="title">
                    <i class="el-icon-user-solid"></i>
                    <span>管理人员</span>
                  </template>
                  </el-menu-item>
               </router-link>
            </el-submenu>

          </el-menu>
        </el-aside>
        <!-- 右侧主体 -->
        <el-container>
          <el-main >
            <!-- 路由占位符 -->
             <router-view></router-view>
          </el-main>
        </el-container>
      </el-container>
      <el-footer><p>
        <a > 关于我们</a>
        <a href="https://beian.miit.gov.cn/#/Integrated/index"> 桂ICP备19004069号-1</a>
        <a > 帮助中心</a>
        </p></el-footer>
    </el-container>
  </div>
</template>

<script>
// @ is an alias to /src
export default{
data(){
  return{
  usertype:false
  }
},
created(){
  let token=localStorage.getItem('token')
   let usertype=localStorage.getItem('usertype')
  if(token==null){
    console.log("无token")
    this.$router.push('/login')
  }else{
    if(usertype=='1')
    this.usertype=true
  }
  console.log("home")
  console.log(token)
  console.log()
},
mounted: function () {

},
methods:{
  toexit(){
    console.log("退出")
    this.open()
  },
   open() {
        this.$confirm('是否退出账号?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          localStorage.removeItem('token')
          localStorage.removeItem('usertype')
          this.$router.push('/login')
          this.$message({
            type: 'success',
            message: '退出成功!'
          });
        }).catch(() => {

          this.$message({
            type: 'info',
            message: '已取消'
          });          
        });
      }
    // 获取请求菜单

/*     toWelcome(path){
      console.log("ddd")
      this.$router.push('/home'+path);
      this.currentMenuIndex= path;
    } */
}

}
//

</script>

<style>
.conhome{
  height: 100%;
}
.home {
  height: 100%;
}
.el-header{
  background-color: #b3c0d1;
  color: #333;

  /* line-height: 60px; */
}
.title{
  margin-top: 10px;
  text-align: center;
}
.toexit{
  text-align: right;
}
.el-footer {
  background-color: #b3c0d1;
  color: #333;
  text-align: center;

  /* line-height: 60px; */
}

.el-aside {
  background-color: #d3dce6;
  color: #333;
  text-align: center;
  /* line-height: 400px; */
}

.el-main {
  background-color: #e9eef3;
  color: #333;
  text-align: center;

}

body > .el-container {
  margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}
</style>