<template>
  <div class="login_container">
     
   <div class="login_box">
      <div class="titletext">惠民助手平台管理中心</div>
     <!-- 登录表单区域 -->
     <el-form  ref="loginFormRef" :model="loginForm" :rules="rules" label-width="80px" class="login_form">
         <!-- 账号 -->
        <el-form-item label="账号" prop="username">
         <el-input v-model="loginForm.username"   placeholder="用户名/手机号/邮箱号" prefix-icon="el-icon-s-custom"></el-input>
        </el-form-item>
        <!-- 密码 -->
        <el-form-item label="密码" prop="password">
         <el-input v-model="loginForm.password" placeholder="密码" type="password" prefix-icon="el-icon-lock"></el-input>
        </el-form-item>
         <!-- 按钮 -->
        <el-row class="btns">
        <el-button type="primary" @click="login">登录</el-button> 
        <el-button type="info" @click="resetLoginForm">清空</el-button>
       </el-row>
     </el-form>
   </div>
  </div>
</template>
<script>
export default {
  data(){
    return{
      loginForm:{
       username:'ny',
       password:'123456' 
      },
      //验证规则
       rules: {
         //验证账号
          username: [
            { required: true, message: '请输入账号', trigger: 'blur' }
          ],
          //验证密码
          password:[
            { required: true, message: '请输入密码', trigger: 'blur' }
          ]
          }
    }
  },
  methods:{
// 表单重置按钮
    resetLoginForm () {
      // console.log(this)
      // resetFields：element-ui提供的表单方法
      this.loginForm.username=""
      this.loginForm.password=""
    },
    open() {
        this.$alert('请输入正确的账号密码', '温馨提示', {
          confirmButtonText: '确定',
          callback: action => {
            // this.$message({
            //   type: 'info',
            //   message: `action: ${ action }`
            // });
          }
        });
      },
    login(){
      console.log("login")
      // this.$router.push('/home')
      //校验表单
      this.$refs.loginFormRef.validate(async valid=>{
        if(!valid)return false;
        console.log("校验通过")
      
        await this.$http.post('/pcmerchant/login', this.loginForm).then(res=>{
          console.log("sss")
                  console.log(res)
                  if(res.data.meta==401){
                    this.open()
                    console.log("请输入正确的账号密码")
                  }else{
                  localStorage.token = res.data.data.token
                localStorage.usertype=res.data.data.usertype
                 console.log(res.data.data.token)
                  this.$router.push('/home')
                  }


        })

      })
       
    }
  }
   
}
</script>
<style lang="less" scoped>
.login_container {
  background-color:#F0FFFF;
  //height: 100%;

  .login_box{
    width: 450px;
    height: 300px;
    background-color: #F0F8FF;
    border-radius: 3px;
    //绝对定位
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 10px #00FFFF;
    .titletext{
      margin-top: 20px;
      text-align: center;
      font-family:Cursive;
      font-size: 30px;
    }
    .login_form{
      position: absolute;
      bottom: 30px;
      width: 90%;
    }
  }
}
.btns{
  display: flex;
  justify-content: flex-end;
}
</style>