<template>
  <div>
    <!-- 2.为Echarts准备一个Dom -->
    <el-row>
      <el-col :span="16">
         <div id="main" style="width: 1000px;height:600px;"></div>
      </el-col>
      <el-col :span="6">
         <p>欢迎一起学习讨论</p>
         <br>
         
      </el-col>
    </el-row>
  </div>
</template>

<script>

export default{
  data(){
    return{

    }
  },

  created(){
//this.getMenuList()

}
}
</script>

<style>
div{
   margin: 0;
   padding: 0;
}
</style>
