page {
  background: #f3f7f7;
}
.title{
  font-size: 45rpx;
  margin-top: 20rpx;
  text-align: center;
}
.seachtop {
  display: flex;
  border-bottom: 1rpx solid skyblue;
  margin-left: 25rpx;
  .tit{
    margin-top: 25rpx;
    margin-left: 15rpx;
    margin-right: 15rpx;
  }
  // 类型
  .select_box {
    flex: 2;
    background: #fff;
    width: 20%;
    margin: 10rpx auto;
    position: relative;
    .select {
      box-sizing: border-box;
      width: 100%;
      height: 70rpx;
      border: 1px solid #efefef;
      border-radius: 8rpx;
      display: flex;
      align-items: center;
      padding: 0 20rpx;
      .select_text {
        font-size: 30rpx;
        flex: 1;
      }
  
      .select_img {
        width: 40rpx;
        height: 40rpx;
        display: block;
        transition: transform 0.3s;
      }
      .select_img_rotate {
        transform: rotate(180deg);
      }
    }
    .option_box {
      position: absolute;
      top: 70rpx;
      width: 100%;
      border: 1px solid #efefef;
      box-sizing: border-box;
      height: 0;
      overflow-y: auto;
      border-top: 0;
      background: #fff;
      transition: height 0.3s;
      .option {
        display: block;
        line-height: 40rpx;
        font-size: 30rpx;
        border-bottom: 1px solid #efefef;
        padding: 10rpx;
      }
    }
  }
  //距离
  .select_box1 {
    flex: 2;
    background: #fff;
    width: 20%;
    margin: 10rpx auto;
    position: relative;
    .select1 {
      box-sizing: border-box;
      width: 100%;
      height: 70rpx;
      border: 1px solid #efefef;
      border-radius: 8rpx;
      display: flex;
      align-items: center;
      padding: 0 20rpx;
      .select_text1 {
        font-size: 30rpx;
        flex: 1;
      }
  
      .select_img1 {
        width: 40rpx;
        height: 40rpx;
        display: block;
        transition: transform 0.3s;
      }
      .select_img_rotate1 {
        transform: rotate(180deg);
      }
    }
    .option_box1 {
      position: absolute;
      top: 70rpx;
      width: 100%;
      border: 1px solid #efefef;
      box-sizing: border-box;
      height: 0;
      overflow-y: auto;
      border-top: 0;
      background: #fff;
      transition: height 0.3s;
      .option1 {
        display: block;
        line-height: 40rpx;
        font-size: 30rpx;
        border-bottom: 1px solid #efefef;
        padding: 10rpx;
      }
    }
  }
  .ss{
    flex: 3;
  }
}
  //搜索
  .seach{  
    height: 80rpx;
    display: flex;
    margin-top: 20rpx;
    .fromx{ 
      display: inline;
      width: 100%;
      .vvv{
        display:flex;
        input{
          background-color: #fff;
          flex: 2;
          border: 1rpx solid royalblue;
          height: 70rpx;
          margin-left: 30rpx;
          padding-left: 30rpx;
        }
          button{
            flex: 1;
            width: 80%;
            font-size: 35rpx;
            margin-left: 50rpx;
            height: 70rpx;
            border: 1rpx solid royalblue;
            padding: 0;
            margin: 0 10rpx;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 26rpx;
            
          }
      }
      
    }
  }
  .seachb{
    width: 750rpx;
    background: #fff;
    padding: 50rpx 50rpx 0;
    border-radius: 20rpx;
    display: flex;
    
    flex-wrap: wrap;
    flex-direction: row;
    .goods{
      width:180rpx;
      font-size: 20rpx;
      text-align: center;
      margin-bottom: 50rpx;
      margin-right: 50rpx;
      .img{
        height: 180rpx;
        width: 180rpx;
      }

      .price{
        color: red;
      }
    }
  
    .goods:nth-child(3n) {
      margin-right: 0;
    }
  }